@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body * {
    visibility: hidden;
  }
  
  .print-section,
  .print-section * {
    visibility: visible;
  }
  
  .print-section {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  .break-before-page {
    break-before: page;
  }

  @page {
    margin: 2cm;
    size: portrait;
  }
}